section#home
    div.home-logo-container
    nav.navigation(role="navigation")
        a(href="/work") Work
        a(href="/about") About
        a(href="/contact") Contact
        a(href="/blog") Blog
    div.blurb-container
        p.blurb 64 Interactive, we develop native apps and modern web experiences for tech startups and agencies.